* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #ffffff;
}

/* top-padding */
.yarea {
    padding-top: 70px;
}

/* left-padding */
.xarea {
    padding-left: 245px;
}

/* navigation */
#control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.nav {
    background-color: #080808;
    padding: 20px 30px;
    box-shadow: 0px 3px 9px #00000066;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: auto 15px 0 0;
}

.nav-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.nav-link:link {
    color: #ffffff;
    opacity: 0.5;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:visited {
    color: #ffffff;
    opacity: 0.5;
}

.nav-link:hover {
    color: #ffffff;
    opacity: 1;
    position: relative;
    top: -2px;
}

.nav-link:active {
    color: #ffffff;
    opacity: 1;
}

.nav-part {
    margin: 0;
    color: #666666;
    font-size: 16px;
    visibility: visible;
}

/* side-menu */
.side {
    background-color: #080808;
    padding: 0;
    box-shadow: 3px 0px 9px #00000066;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.side-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-item {

}

.side-img {
    margin: 0 15px 0 0;
}

.side-title {
    margin: auto 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
}

.side-text {
    font-weight: normal;
    font-size: 16px;
    margin: auto 0;

}

.side-link:link {
    margin: auto 0;
    padding: 20px 30px;
    color: #ffffff;
    opacity: 0.5;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.side-link:visited {
    color: #ffffff;
    opacity: 0.5;
}

.side-link:hover {
    color: #ffffff;
    background-color: #050505;
    position: relative;
    top: -2px;
    opacity: 1;
}

.side-link:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 1;
}

/* Main content */
.index-content {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0 auto;
}

.text {
    color: #000000;
    opacity: 0.5;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
}

/* Index */
.index-image {
    width: 64px;
    height: 64px;
    margin: 0 auto 15px auto;
}

/* -------- Cuidado! A partir deste ponto tudo foi criado com magia -------- */
@media screen and (max-width: 767px) {

    /* Navigation */
    .nav {
        top: 0px;
    }

    .nav-part {
        visibility: hidden;
    }

    .nav-link {
        visibility: hidden;
    }

    .control-nav {
        position: absolute;
        right: 30px;
        top: 25px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #ffffff;
        border-width: 3px 0;
        z-index: 3;
        cursor: pointer;
    }

    .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #ffffff;
    }

    .side {
        position: fixed;
        top: 70px;
        right: 0;
        bottom: 0;
        width: 250px;
        background: #080808;
        overflow-x: auto;
        z-index: 5;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    #control-nav:checked ~ .side {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}